// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
//@import "./node_modules/bulma/sass/utilities/initial-variables.sass";
@import "theme-variables.scss";
@import "./node_modules/bulma/bulma";
@import "/components/dropdown";

[v-cloak] {
  display: none;
}

.shadow-under-nav .nav {
  box-shadow: 0 1px 0 rgba(219, 219, 219, 0.3);
}

.question {
  padding-bottom: 0.75rem;

  .q-head {
    margin-right: 1.5em;
    display: flex;
    align-items: center;
    height: 2.75em;
    background-color: $white-ter;
    border: 1px solid $border;
    border-radius: 3px;
    .q-handle {
      display: flex;
      flex-grow: 0;
      align-items: center;
      justify-content: center;
      height: 2.75em;
      width: 2.75em;
      cursor: grab;
      //border-right: 2px solid $border;
      .fa {
        color: $primary;
        &.fa-bars {
          color: $text;
        }
      }
    }
    .q-title {
      display: flex;
      flex-grow: 1;
      cursor: pointer;
    }
    .q-left {
      display: flex;
      flex-grow: 1;
      align-items: center;
    }
    .q-right {
      display: flex;
      cursor: pointer;
      height: 2.75em;
      width: 2.75em;
      flex-grow: 0;
      align-items: center;
      justify-content: center;
    }
  }
  .q-body {
    padding: 1em;
    margin-right: 1.5em;
    .label {
      font-weight: normal;
    }
    #answer-options {
      .option {
        .o-handle {
          cursor: grab;
        }
        .control.has-icons-right .input:focus ~ .icon {
          color: #dbdbdb;
        }
      }
    }
  }
}

#questions {
  min-height: 30.5em;

  .q-title {
    padding-left: 1em;
    white-space: nowrap;
    overflow: hidden;
    .q-right {
      border-right: 1px solid $border;
    }
  }
  .q-icon {
    color: $primary;
  }
}

#questions.obvious-drop-area {
  height: 30.5em;
  border: 2px dashed $grey-lighter;
  padding: 1em;
}

#available {
  padding-left: 1.5em;
  .question {
    .q-head {
      .q-title {
        cursor: grab;
        span {
          display: flex;
          height: 2.75em;
          &.q-icon {
            width: 2.75em;
            justify-content: center;
            color: $primary;
          }
          align-items: center;
        }
      }
    }

  }
}

.sortable-ghost {
  opacity: 0.5;
  .q-head {
    border: 2px dashed $grey-light;
    .q-title {
      padding-left: 0 !important;
      span {
        display: flex;

        height: 2.75em;
        align-items: center;
      }
      .q-icon {
        flex-grow: 0;
        width: 2.75em;
        justify-content: center;
      }
      .q-type {
        flex-grow: 1;
      }
    }
  }
}

.title-edit {
  margin-right: 1.75em;
  .control.has-icons-right {
    .icon {
      height: 2.75em;
      width: 2.75em;
      display: none;
    }
    &:hover .icon {
      display: flex;
      color: #dbdbdb !important;
    }
  }
  .input {
    height: 1.75em;
    font-size: $size-4;
    font-weight: $weight-light;
    padding-bottom: calc(0.3em - 1px);
    padding-left: calc(0.6em - 1px);
    padding-right: calc(0.6em - 1px);
    padding-top: calc(0.3em - 1px);
    box-shadow: none;
    border: 1px solid transparent;
    &:focus {
      border: 1px solid transparent;
    }
    &:hover {
      border: 1px solid rgb(219, 219, 219);
      box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    }
  }
}

.available-title {
  height: 1.75em;
  font-size: $size-4;
  font-weight: $weight-light;
  padding-bottom: calc(0.3em - 1px);
  padding-left: calc(0.6em - 1px);
  padding-right: calc(0.6em - 1px);
  padding-top: calc(0.3em - 1px);
  margin-bottom: 0.5em !important;
}
