// Color
$orange: #D56100;
$yellow: #f0ad4e;
$green: #5cb85c;
$turquoise: #008080;
$blue: darken(#428bca, 6.5%);
$purple: #800080;
$red: #d9534f;

$primary: $blue;
$warning: $yellow;
$success: $turquoise;